<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Ofertas_da_Net_v2.Compartilhamentos">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.Ofertas_da_Net_v2.Compartilhamentos.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="Ofertas da Net V2"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ofertasdanetv2"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.tvs"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.ssd"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.notebooks"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.placas"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.outros"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.monitores"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.hds"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.gabinetes"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.fones"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.consoles"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.celulares"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.home"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.relogios"
            android:exported="true" />
        <activity
            android:name="com.Ofertas_da_Net_v2.Compartilhamentos.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9972927126168483~6031538498" />
    </application>

</manifest>